# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
logs/**/*.log

# TypeScript
dist/
out/
build/

# TypeScript cache
*.tsbuildinfo

# Jest
coverage/
.jest/

# Environment variables
.env
.env.local
.env.*.local

# IDE files
.idea/
.vscode/
*.swp

# MacOS files
.DS_Store

# Other
.tmp/